*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;   
    }
    .tela_jogo{
      width: 90%;
      height: 700px;
      border: 1px solid rgb(0, 0, 0);
      margin: auto;
      position: relative;
      overflow: hidden;
      border-bottom: 15px solid rgb(190, 255, 190);
      background-clip: border-box;
    }
    .naruto{
     width: 160px;
     position: absolute;   
     bottom:0; 
     
    }
    .pular{
        animation: animar_naruto 500ms ease-in-out;
    }
    .arranha{
     position: absolute;
     bottom: 0;
     width: 91px;
     animation: animar_arranha 1500ms infinite linear
    }
    /* kEYFRAMES para determinar onde a nossa animação vai começar e terminar */
    @keyframes animar_arranha {
       from{
        right: 0;
       } 
       to{
        right: 100%;
       }
    }
    @keyframes animar_naruto {
        0%{
         bottom: 0;
        } 
        40%{
            bottom: 168px;
        }
        50%{
            bottom: 180px;
        }
        60%{
            bottom: 179;
        }
        100%{
            bottom: 0  ;
    
        }
     }